/* THESE ARE THE TinyMCE Styles that the user gets to select from */
.mceContentBody  { font-size:14px; font-family:Verdana, Geneva, sans-serif;  }
a:link { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }
a:visited { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }
a:hover{ font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:none; }
a:active { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }

/* TO ADD THE STYLES TO THE FORMAT DRO DOWN YOU MUST EDIT THE ui.css in the tinymce > themes > skins > advanced > ui.css */

.style1, .style1 .mceText {
  font-size:24px; 
	font-weight:normal; 
	color:#0099FF; 
	font-family:Verdana, Geneva, sans-serif;
}
.style2, .style2 .mceText {
  	font-size:19px; 
	font-weight:normal; 
	color:#666666;
	font-family:Verdana, Geneva, sans-serif;
}
.style3, .style3 .mceText {
     color:#000000; 
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
}

