/* THESE ARE THE TinyMCE Styles that the user gets to select from */
body { font-size:11px; font-family:Verdana, Geneva, sans-serif;  }
a:link { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }
a:visited { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }
a:hover{ font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:none; }
a:active { font-size:13px; font-family:Tahoma, Geneva, sans-serif; color:#0099FF; text-decoration:underline; }

/* TO ADD THE STYLES TO THE FORMAT DRO DOWN YOU MUST EDIT THE ui.css in the tinymce > themes > skins > advanced > ui.css */
h1 { font-size:24px; color:#0099FF; font-weight:normal; display:block;  }
h2 { font-size:18px; font-weight:normal; color:#666; }
p { font-size:14px; color:#000000; }



.mce_h1 .mceText {
	font-size:24px; !important
	font-weight:normal; 
	color:#0099FF; !important
	font-family:Tahoma, Geneva, sans-serif; 
}
.mce_h2 .mceText {
	font-size:19px; !important
	font-weight:normal; 
	color:#666666;!important
	font-family:Tahoma, Geneva, sans-serif;
}
.mce_h3 .mceText{
    color:#000000;  !important
	text-transform:uppercase; 
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:11px; !important
	font-weight:bold; 
}


.mce_p .mceText{
	font-family:Verdana, Geneva, sans-serif;
   font-size:14px; !important
   color:#000; !important
}